mixin puanOlustur(puan)
 -for (var i=1;i<=puan;i++)
  span.glyphicon.glyphicon-star
 -for (var j=puan;j<5;j++)
  span.glyphicon.glyphicon-star-empty
mixin tarihFormatla(formatsizGun)
 -var gun =new Date(formatsizGun);
 -var aylar =["ocak","şubat","mart","nisan","mayıs","haziran","temmuz","ağustos","eylül","ekim","kasım","aralık"];
 -var gunBilgisi = gun.getDate();
 -var ayBilgisi = aylar[gun.getMonth()];
 -var yilBilgisi = gun.getFullYear();
 -var sonuc = gunBilgisi + " " + ayBilgisi + " " + yilBilgisi;
 =sonuc